#px-system-useraccess-form-useraccess-parent label.control-label {
	font-size: 14px;
}
#px-system-useraccess-form-useraccess-child label.control-label {
	font-style: italic;
	font-weight: normal;
}
.xn-logo .xn-logo-big {
	display: inline;
	height: 50px;
}
.xn-logo .xn-logo-mini {
	display: none;
	height: 50px;
}
.x-navigation-minimized .xn-logo .xn-logo-mini {
	display: inline;
}
.x-navigation-minimized .xn-logo .xn-logo-big {
	display: none;
}
.no-padding {
	padding: 0px !important;
}
#px-system-menu-orders-dragable .panel,
#px-system-menu-orders-dragable .list-group-item {
	cursor: move;
}
.note-editable img {
	margin: 5px;
}
.px-preview-upload-multiple .gallery-item {
	padding: 0px;
	position: relative;
}
.px-preview-upload-multiple .gallery-item .image {
	text-align: center;
	position: relative;
}
.px-preview-upload-multiple .gallery-item .btn-delete-file {
	color: #fff;
	background: #A43F3E;
	font-size: 15px;
	line-height: 25px;
	border-radius: 2px;
	font-weight: bold;
	padding: 0px 10px;
	position: absolute;
	display: inline-block;
	top: 3px;
	right: 3px;
	z-index: 10;
	cursor: pointer;
	border: 1px solid #A43F3E;
}
.px-preview-upload-multiple .gallery-item .btn-delete-file:hover {
	background: #fff;
	color: #A43F3E;
}
.px-preview-upload-multiple .gallery-item .image img {
	max-width: 100%;
	width: auto;
	max-height: 200px;
}
#preview-gallery-video > div {
	margin-bottom: 15px;
}
#preview-gallery-video > div > iframe {
	max-width: 100% !important;
	height: 200px !important;
}
#preview-gallery-video > div > textarea {
	resize: none;
	height: 120px;
	margin-bottom: 5px;
}
#preview-gallery-video > div > button {
	width: 48%;
	margin: 0px 1%;
	float: left;
}
.btn-show-pass {
	cursor: pointer;
}
#preview-document {

}
.per-preview-document {
	padding: 5px 15px;
	background: #ededed;
	border: 1px solid #fafafa;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.per-preview-document .btn-download {
	margin-left: 10px;
}
.per-preview-document .btn-delete-file {
	color: #B64645;
	cursor: pointer;
	margin-left: 10px;
}
.px-site-content-project-add-draggable {
	z-index: 2;
}
#preview-photo,
#preview-banner {
	margin-top: 10px;
	float: left;
}
#preview-photo input {
	visibility: hidden;
}
.image-original-preview-profile {
	float: left;
	margin-right: 10px;
}
.image-original-preview-profile img {
	width: 100%;
}
.image-original-preview {
	width: 50%;
	float: left;
	margin-right: 10px;
}
.image-original-preview img {
	width: 100%;
}
.image-crop-previews {
	width: 140px;
	height: 100px;
	overflow: hidden;
	float: left;
}
.image-crop-previews-pot {
	width: 100px;
	height: 145px;
	overflow: hidden;
	float: left;
}
.image-crop-previews-ban {
	width: 230px;
	height: 100px;
	overflow: hidden;
	float: left;
}
.image-crop-previews-profile {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}
.image-crop-previews img,
.image-crop-previews-pot img,
.image-crop-previews-profile img,
.image-crop-previews-ban img {
	width: 100%;
}

/* deni */

.responsive-circle {
    font-size: 80px;
    font-weight: 700;
    margin: 0 auto 0px;
    width: 80%;
}
.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}
.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}

.red-circle::after {
    background: red;
}

.yellow-circle::after {
    background: yellow;
}

.green-circle::after {
    background: green;
}

.media-object {
	width: 100px;

}

/* deni */
.table-score input {
	margin-right: 5px;
}

.x-navigation.x-navigation-horizontal {
  height: auto;
}

.x-navigation.x-navigation-horizontal > li > a {
	padding: 15px 5px;
}
/*scoring colour*/
.bg-Emas {
	line-height: 22px;
	background: #D4AF37;
	color: #fff;
}
.bg-Hijau {
	line-height: 22px;
	background: #23B14D;
	color: #fff;
}
.bg-Biru {
	line-height: 22px;
	background: #417EC1;
	color: #fff;
}
.bg-Merah {
	line-height: 22px;
	background: #ED1A23;
	color: #fff;
}
.bg-Hitam {
	line-height: 22px;
	background: #000;
	color: #fff;
}
.tile-Emas {
	background: #D4AF37;
	color: #fff;
}
.tile-Hijau {
	background: #23B14D;
	color: #fff;
}
.tile-Biru {
	background: #417EC1;
	color: #fff;
}
.tile-Merah {
	background: #ED1A23;
	color: #fff;
}
.tile-Hitam {
	background: #000;
	color: #fff;
}
#banner-slider {
	position: relative;
}
#banner-slider .slider-item {
	position: relative;
}
#banner-slider .slider-item .slider-caption {
	position: absolute;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	width: 100%;
}
#banner-slider .slider-item .slider-caption h5 {
	color: #fff;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
#banner-slider .slider-item .slider-caption p {
	color: #fff;
	padding: 0px;
	margin: 0px;
}
#banner-slider .slider-item img {
	width: 100%;
}
#px-dashboard-status-kerawanan-news-detail-modal img {
	max-width: 100%;
}
.btn-show-detail-news-kerawanan-berita {
	cursor: pointer;
}
#preview_photo .image {
	width: 100%;
	padding: 15px 10px;
}
#preview_photo img {
	width: 100%;
	max-width: 300px;
}
#px-standar-kompetensi-form .content.clearfix {
	overflow-y: scroll; 
}

.box {
    margin-bottom: 10px;
    border: 1px solid #44a5aa;
    border-radius: 5px;
    padding: 15px;
    text-transform: capitalize;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #515152;
  background-color: #20213d;
  border-radius: 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #4c4d6e;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4c4d6e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #515152;
  border-top: none;
  border-radius: 5px;
  background-color: #ffffff;
}

/* Style the tab content esams*/
.tabcontentesams {
  display: none;
  border: none;
  border-top: none;
  background-color: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .header-logo-banner {
    position: relative;
    height: auto;
      width:60%;
      top: -5px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:60%;
      top: 0px;
      left: 20px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:80%;
      top: -50px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:100%;
      top: -20px;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:100%;
      top: -20px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:100%;
      top: -20px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:40%;
      top: 0px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:40%;
      top: 0px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
.header-logo-banner {
    position: relative;
    height: auto;
      width:100%;
      top: -50px;
  }
}

.card-esams-masterdata {
	border: #7dc7ff solid 2px;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0.5px #f7f7f7;
}

.mandatory {
	color: red;
}